.Quizinfo{
    width: 100%;
    min-height: 500px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.subtitle{  
    /* height: 5vh;  */
    margin: 5px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 3px 4px 2px 5px black;
    padding: 8px 10px;
    color: rgb(156, 6, 6);
    font-size: 25px;
}
.quiz{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin: 10px;

}